
  .mymenu{

/* //background-color: black !important; */
  height: 40px; 
  padding: 0px !important;
 margin-bottom: 10px !important;
 border-radius: 2px;

  }


  @media  (max-width: 928px){
    table, thead, tbody, th, td, tr {
        display: block; 
    }

    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr { border: 1px solid #66BAFF9B; }
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      /* margin-right: 60px; */
      left: 16px;
      width: 45%; 
       padding-right: 10px; 
      white-space: nowrap;
    }

    /* td:nth-of-type(1):before { content: "Image"; }
	td:nth-of-type(2):before { content: "Title"; }
	td:nth-of-type(3):before { content: "Price"; }
	td:nth-of-type(4):before { content: "Brand"; }
  td:nth-of-type(5):before { content: "Color"; }
  td:nth-of-type(6):before { content: "Count"; }
  td:nth-of-type(7):before { content: "Remove"; } */
    

  }