
.carousdiv{

    padding-left: 350px ;
    padding-right:350px ;
    padding-bottom: 10px;
    padding-top:50px ;
     //background-color: blue;
  }

  .slick-prev:before,
.slick-next:before {
  color: black!important;
}
  
  
  