

.headercs{
  position: fixed;
  background-color: white;
  top: 0;
 left: 0;
 width: 100%;
 margin-bottom: 200px;
}
.header-item{
  //background-color: brown !important;
  overflow-y: hidden;; 
     color: rgb(120, 142, 234) !important;
   //  background-color: rgb(246, 147, 27) !important;
    /* background-color: aqua !important; */
   // margin-left: 80px !important;
    height: 60px;
 
       .formlay{
    
        // margin-top: 8px;   //
                 width: 33%; 
        background-color: rgba(235, 238, 243, 0.991);
    border-radius: 10px;
     //margin-bottom: 10px !important;  //
     padding-left: 10px;
     //padding-bottom: 18px;
      //padding-bottom: 10px;
        /* //height: 150px; */
        //margin-top: auto;
        display:block;
        height: 100%;
        //     border-radius: 6px;
        //     width: 98%; 
       
        //   margin-top: 5px;
         
        //   margin-left: 3px;
            
           
         
        //   background-color: rgba(235, 238, 243, 0.991);
        //    height: 86%;
        //   padding: 5px;
    
        .pad-search{
          
          // width: 20% !important;
         // margin-left: 7px;
        // margin-bottom: 30px !important;
         // margin-right: 2%;
         color: black;
         background-color: rgb(23, 135, 98) !important;
        //position: absolute;
       margin-right: 15px;
         transform: translateY(-100%);
        // padding-right: 10px;
        background-color: rgba(235, 238, 243, 0.991);
         float: right;
      
        //  padding: 2px;
         
        padding: 6px;
          
          //text-align: center;
          // background-color: chartreuse !important;
           // padding-bottom: 25px;
         // display: inline;
            //display: inline-block; 
        // display: flex;
        //flex-direction: row;
           
        }
        
        

            .inputnounderline{

               //padding-top: 10px;
               margin-left: 5px;
               background-color: rgb(4, 34, 35) !important;
               color: black;
             font-weight: 490;
            display:block;
             // display:inline-block;
               //float:none !important;
             

               margin-left: 14px;
            //   margin-right: 20px;
            //margin-bottom: 25px;
             //padding-bottom: 20px;
             background-color: rgba(25, 76, 160, 0.991) !important;
              
                // text-decoration: none !important;
                outline: none !important;
              border: none !important;
              //  background-color: rgba(248, 250, 253, 0.991);
               width: 72%;
               height: 90%;
              // padding-right: 30px;
          
               //display: inline-block;
             
                
                /* border-bottom: none !important;
                border-style: none !important; */
              
                
            }


        
          }
        
    
    
  
  }



.badge-pad{
    padding-bottom: 15px !important;
    padding-right: 5px !important;
}





.flex-container {        //1.logodiv  10perc ,  2.mainmenudix 90perc
  overflow-x: hidden;; 
  
  display: flex;
   //background-color: DodgerBlue;
  height: 60px;
  // padding-left: 30px;

  .logodiv{
    //margin-right: 60px;
    //width: 140px;
    padding-left: 5%;
    width: 18%;
    margin-top: 5px;

    .logo{
      color: black;
      margin-top: 10px;
      margin-left: 43px;
     // height: 20px;
     
    }


   .logotext{
    //margin-right: 60px;
    //padding-right: 40px;
   // text-align: center;
   margin-left: 25px;
    font-weight: 520;
     color: rgb(87, 85, 85);
   // color: rgb(241, 241, 110);
      }

    }

      .mainmenudiv{
        width: 82%;
       // color: rgb(246, 163, 39);
       // background-color: chartreuse;
        //display: flex;
      
      }

 }
  

  
  
  
  


